<!DOCTYPE html>
<html>
  <head>
  <link rel="search"
        type="application/opensearchdescription+xml"
        title="bunbun"
        href="bunbunsearch.xml">
  </head>
  <body>
    hello world
  </body>
</html>
