<!DOCTYPE html>
<html>
<body>
  <table>
    <tr>
      <th>Shortcut</th>
      <th>Target</th>
    </tr>
    {{#each this}}
    <tr><td>{{@key}}</td><td>{{this}}</td></tr>
    {{/each}}
  </table>
</body>
</html>
